# Data Processing & DB
pandas==2.2.1
SQLAlchemy==2.0.28
pymysql==1.1.0
cryptography==42.0.5

# UI
streamlit==1.32.2

# Environment
python-dotenv==1.0.1

# AI & LLM Framework
openai==2.24.0
pydantic==2.6.4
chromadb==1.5.9
tiktoken==0.13.0